/* Estilo do corpo */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding-top: 70px;
    /* Espaço para o menu fixo */
}

/* Estilo do menu fixo */
header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 5px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* Garante que o menu fique sobreposto a outros elementos */
}

.logo {
    height: 50px;
}

.logo:hover {
    cursor: pointer;
}

.icone_burguer {
    display: none;
}

/*desabilita o botao hamburguer*/

.menu_mobile {
    display: none;
}

/*desabilita  o menu hamburguer*/


/*ESTILIZAÇÃO DOS LINKS DA NAVEBAR E REDES SOCIAIS*/

.nav_links_container {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

hr {
    box-shadow: #9B0202;
    margin: 0;
}

.nav_links_container a {
    margin: 1em;
    font-size: 1.2em;
    font-family: Inter, sans-serif;
    font-weight: 500;
    color: #9B0202;
    text-decoration: none;
    padding: 10px 15px;
    transition: 0.3s;
}

.nav_links_container a:hover {
    background-color: #9B0202;
    color: #ffffff;
    border-radius: 5px;
}


.logo_redes {
    margin: 5px 15px;
    height: 30px;
    transform: all 0.8s;
}

.logo_redes:hover {
    cursor: pointer;
    transform: scale(110%);
}

/* FIM ESTILIZAÇÃO DOS LINKS DA NAVEBAR*/

/*MEDIA-QUERES*/

@media screen and (max-width: 950px) {
    .nav_links_container {
        display: none;
    }

    .redes_container {
        display: none;
    }

    .icone_burguer {
        display: block;
    }

    /*Ativa o botao hamburguer*

    /*MENU MOBILE*/
    .menu_mobile {
        display: flex;
        width: 100%;
        height: 40%;
        position: fixed;
        background-color: #ffff;
        top: 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    /*Botao burguer invertido*/

    .icone_burguer_invertido_content {
        display: flex;
        justify-content: end;
        margin-top: 2em;
        margin-right: 2em;
    }
    
    .links_menu_mobile {
        margin-top: 20px;
        height: 15em;
        text-align: center;
    }

    .links_menu_mobile li {
        color: #9B0202;
        margin: 1em 0.1em 0;
        font-size: 1.3em;
        font-family: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        transition: 0.9s;
    }

    .links_menu_mobile li:hover {
        width: 100%;
        background-color: #9B0202;
        color: #ffff;
    }
}